#canvas {
	width: 1200px;
	height: 600px;
	background-color: white;
	margin: 0 auto;
	border: 1px solid black;
	position: relative;
}

#canvas > div[class*="cube"] {
	width: 60px;
	height: 120px;
	display: block;
	position: absolute;
	left: 570px;
	top: 480px;
}

#canvas > div[class*="rubish"] {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
}

#canvas > .cube-papper,
#canvas > .rubish-papper {
	background-color: blue;
}

#canvas > .cube-plastic,
#canvas > .rubish-plastic {
	background-color: yellow;
}

#canvas > .cube-organic,
#canvas > .rubish-organic {
	background-color: black;
}

#canvas > .cube-cristal,
#canvas > .rubish-cristal {
	background-color: green;
}
