#canvas {
width: 1200px;
height: 600px;
background-color: white;
margin: 0 auto;
border: 1px solid black;
position:relative;
}

#canvas>.cube-papper {
    width: 60px;
    height: 120px;
    background-color: blue;
    display:block;
    position: absolute;
    left: 570px;
    top: 480px;
}

#canvas>.cube-plastic {
    width: 60px;
    height: 120px;
    background-color: yellow;
    display:block;
    position: absolute;
    left: 570px;
    top: 480px;
}

#canvas>.cube-organic {
    width: 60px;
    height: 120px;
    background-color: black;
    display:block;
    position: absolute;
    left: 570px;
    top: 480px;
}

#canvas>.cube-cristal {
    width: 60px;
    height: 120px;
    background-color: green;
    display:block;
    position: absolute;
    left: 570px;
    top: 480px;
}

#canvas>.rubish-papper {
    width: 20px;
    height: 20px;
    background-color: blue;
    display:inline-block;
    position: absolute;
    border-radius: 50%;
}

#canvas>.rubish-plastic {
    width: 20px;
    height: 20px;
    background-color: yellow;
    display:inline-block;
    position: absolute;
    border-radius: 50%;
}

#canvas>.rubish-organic {
    width: 20px;
    height: 20px;
    background-color: black;
    display:inline-block;
    position: absolute;
    border-radius: 50%;
}

#canvas>.rubish-cristal {
    width: 20px;
    height: 20px;
    background-color: green;
    display:inline-block;
    position: absolute;
    border-radius: 50%;
}

#score {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 1000px;
}